﻿<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>PokeJS</title>

    <link href="css/bootstrap.min.css" rel="stylesheet" />
    <link href="css/datepicker3.css" rel="stylesheet" />
    <link href="css/styles.css" rel="stylesheet" />
    
</head>

<body>
    <nav class="navbar navbar-inverse navbar-fixed-top" role="navigation"></nav>

    <div id="sidebar-collapse" class="col-sm-3 col-lg-2 sidebar">
            <div class="form-group">
                <input type="text" class="form-control" id="searchPokemon" placeholder="Szukaj pokemona">
                <ul class="autocomplete"></ul>
            </div>
        <ul class="nav menu">
            <li class="active"><img src="https://lh6.ggpht.com/YphYdqVDuLK4ZY-tCpdCdl3ZbES-hXfozgfamNQcYXmLZKLTA86Xe_2bhOCjc097fCA=w300" class="menu-item-icon" /> Pokemony</li>
        </ul>
    </div><!--/.sidebar-->

    <div class="col-sm-9 col-sm-offset-3 col-lg-10 col-lg-offset-2 main"></div>	<!--/.main-->


    <script src="Scripts/jquery-1.11.1.min.js"></script>
    <script src="Scripts/jquery.tmpl.js"></script>
    <script src="Scripts/NavBarClient.js"></script>
    <script src="Scripts/SearchClient.js"></script>

    <script id="navBarTmpl" type="text/x-jquery-tmpl">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="#"><span>Poke</span>JS</a>
                <ul class="user-menu">
                    <li class="dropdown pull-right">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown"><img class="avatar-photo" src="${ avatar }" /> ${ name }</a>
                    </li>
                </ul>
            </div>
        </div>
    </script>

    <script id="autocompleteTmpl" type="text/x-jquery-tmpl">
        {{each(val, name) elements}}
        <li class="autocomplete-item">${ name }</li>
        {{/each}}
    </script>

    <script id="contentTmpl" type="text/x-jquery-tmpl">
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">${ name }</h1>
            </div>
        </div><!--/.row-->

        <div class="row">
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-blue panel-widget ">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="large">${ def }</div>
                            <div class="text-muted">Obrona</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-orange panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="large">${ stamina }</div>
                            <div class="text-muted">Wytrzymałość</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-teal panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="large">${ atk }</div>
                            <div class="text-muted">Atak</div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="col-xs-12 col-md-6 col-lg-3">
                <div class="panel panel-red panel-widget">
                    <div class="row no-padding">
                        <div class="col-sm-3 col-lg-5 widget-left">
                        </div>
                        <div class="col-sm-9 col-lg-7 widget-right">
                            <div class="large">#${ number }</div>
                            <div class="text-muted">Pokedex No.</div>
                        </div>
                    </div>
                </div>
            </div>
        </div><!--/.row-->
        <div class="row">
            <div class="col-lg-12">
                <h2>Widget Panels</h2>
            </div>

            <div class="col-md-6">
                <div class="panel panel-blue">
                    <div class="panel-heading dark-overlay">Łapanie</div>
                    <div class="panel-body">
                        <span>Współczynnik złapania:    ${BaseCaptureRate}</span><br />
                        <span>Współczynnik ucieczki:    ${BaseFleeRate}</span>
                    </div>
                </div>
            </div><!--/.col-->

            <div class="col-md-6">
                <div class="panel panel-teal">
                    <div class="panel-heading dark-overlay">Wymiary</div>
                    <div class="panel-body">
                        <span>Masa (KG):    ${PokedexWeightKg}</span><br />
                        <span>Wzrost (M):   ${PokedexHeightM}</span>
                    </div>
                </div>
            </div><!--/.col-->

            <div class="col-md-6">
                <div class="panel panel-orange">
                    <div class="panel-heading dark-overlay">Cukierki do ewolucji</div>
                    <div class="panel-body">
                        <h2>${CandyToEvolve}</h2>
                    </div>
                </div>
            </div><!--/.col-->
        </div><!--/.row-->
    </script>

    <script>
        NavBarClient.init();
        SearchClient.init();
    </script>
</body>

</html>
